<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to "https://www.testingpays.com", class: "navbar-brand", target: "_BLANK" do %>
        Testing Pays
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
        <%= link_to :root, class: "navbar-brand" do %>
          Home
        <% end %>
        </li>
      </ul>
    </div>

  </div>
</nav>
