.navbar {
  border-radius: 0;
}
.navbar-default {
  border-color: transparent;
  border-bottom-color: white;
  background-color: #3A3D3D;
  background-image: none;
}
.navbar-default .navbar-brand {
  color: #F8F8F8;
}
.navbar-default .navbar-nav > li > a {
  color: #F8F8F8;
}
